@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,600;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

:root {
    /* Primary */
    --cta-text: hsl(356, 100%, 66%);
    --cta-hover-bg: hsl(355, 100%, 74%);
    --heading: hsl(208, 49%, 24%);

    /* Neutral */

    --text: hsl(0, 0%, 100%);
    --footer-text: hsl(240, 2%, 79%);
    --body-copy: hsl(207, 13%, 34%);
    --footer-bg: hsl(240, 10%, 16%);

    /* Gradient */
    /* Background gradient - Intro/CTA mobile nav: */
    --very-light-red: hsl(13, 100%, 72%);
    --light-red: hsl(353, 100%, 62%);
    /* Background gradient - body: */
    --very-dark-gray-blue: hsl(237, 17%, 21%);
    --very-dark-desaturated-blue: hsl(237, 23%, 32%);
}

html {
    font-family: 'Overpass', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

h3 {
    color: var(--heading);
    font-size: 2.25rem;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}


section {
    position: relative;
    padding: 6rem;
    /* overflow-x: hidden; */
}

.primary-btn {
    background-color: #FFF;
    height: 3rem;
    width: 8rem;
    border: 1px solid #FFF;
    border-radius: 2rem;
    font-weight: 600;
    font-size: 1rem;
    color: var(--cta-text);
    -webkit-transition: ease .5s;
    -o-transition: ease .5s;
    transition: ease .5s;
}

.primary-btn:hover {
    background-color: transparent;
    color: #FFF;
}

.normal-btn {
    background-color: transparent;
    height: 3rem;
    width: 8rem;
    border: none;
    border-radius: 2rem;
    font-weight: 600;
    font-size: 1rem;
    color: #FFF;
    -webkit-transition: ease .5s;
    -o-transition: ease .5s;
    transition: ease .5s;
}

.normal-btn:hover {
    opacity: .5;
}


header {
    position: absolute;
    width: 100%;
    padding: 6.5vh 10vw;
    z-index: 9;
}

nav {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #FFF;
}

.nav-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
}

.logo h1 {
    font-size: 2.75rem;
}

.nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0 2rem;
    margin-left: 5vw;
    font-weight: 600;
}

.nav-links li {
    position: relative;
}

.cat-menu {
    position: absolute;
    left: -.5rem;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: .5rem;
    min-width: 8rem;
    padding: 1rem 1rem;
    font-size: .925rem;
    background-color: #FFF;
    color: var(--heading);
    border-radius: .5rem;
}

.cat-menu li {
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.cat-menu li:hover {
    opacity: .5;
}

.nav-links > li:hover {
    text-decoration: underline;
}

.nav-links li:hover .cat-menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.nav-links li img {
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.nav-links li:hover img {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
}

.mobile-arrow {
    display: none;
}

.nav-content hr {
    display: none;
}

.nav-btns {
    margin-left: auto;
}

.mobile-menu-btn {
    display: none;
}

.hero {
    background-image: -webkit-gradient(linear, left top, right bottom, from(var(--very-light-red)), to(var(--light-red)));
    background-image: -o-linear-gradient(top left, var(--very-light-red), var(--light-red));
    background-image: linear-gradient(to bottom right, var(--very-light-red), var(--light-red));
    color: var(--text);
    text-align: center;
    border-bottom-left-radius: 5rem;
    overflow: hidden;
    z-index: 0;
}

.hero-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    min-height: 75vh;
    padding: 0 4rem;
    padding-top: 5rem;
    background-image: url(./images/bg-pattern-intro-desktop.svg);
    background-position: center;
}

.hero h2 {
    font-size: 3.5rem;
}

.hero p {
    line-height: 3rem;
}

.hero-btns {
    margin-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
}

#learn-more {
    border: 1px solid white;
}

#learn-more:hover {
    opacity: 1;
    background-color: #FFF;
    color: var(--light-red);
}

.second-sec {
    background-image: url(./images/illustration-editor-desktop.svg);
    background-repeat: no-repeat;
    background-position: 55vw center;
}

.second-sec h3{
    text-align: center;
    line-height: 5rem;
}

.second-sec .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 80vh;
}

.second-sec .content .text {
    width: 50%;
}

.second-sec .content img {
    display: none;
}

.second-sec .content .text h4 {
    font-size: 1.75rem;
    font-weight: 600;
    color: var(--heading);
    margin-bottom: 1rem;
}

.second-sec .content .text p {
    font-size: 1.25rem;
    color: var(--body-copy);
    margin-bottom: 2rem;
}

.third-sec {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url(./images/bg-pattern-circles.svg), -webkit-gradient(linear, left top, right bottom, from(var(--very-dark-gray-blue)), to(var(--very-dark-desaturated-blue)));
    background-image: url(./images/bg-pattern-circles.svg), -o-linear-gradient(top left, var(--very-dark-gray-blue), var(--very-dark-desaturated-blue));
    background-image: url(./images/bg-pattern-circles.svg), linear-gradient(to bottom right, var(--very-dark-gray-blue), var(--very-dark-desaturated-blue));
    background-repeat: no-repeat, no-repeat;
    background-position: -65% 80%, center;
    border-radius: 0 5rem 0 5rem;
}

.third-sec img {
    position: absolute;
    left: 5vw;
}

.third-sec .text {
    position: relative;
    left: 46vw;
    width: 50%;
    /* margin-left: auto; */
}

.third-sec h3 {
    color: var(--text);
    opacity: .9;
    margin-bottom: 1rem;
}

.third-sec p {
    color: var(--footer-text);
    line-height: 2;
}

.fourth-sec {
    min-height: 120vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url(./images/illustration-laptop-desktop.svg);
    background-repeat: no-repeat;
    background-position: -20vw center;
}

.fourth-sec img {
    display: none;
}

.fourth-sec .text {
    width: 35%;
    margin-left: auto;
}

.fourth-sec .text h4 {
    font-size: 1.75rem;
    font-weight: 600;
    color: var(--heading);
    margin-bottom: 1rem;
}

.fourth-sec .text p {
    font-size: 1.25rem;
    color: var(--body-copy);
    margin-bottom: 2rem;
}

footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.5fr 1fr 1fr 1fr;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    padding: 6rem;
    color: var(--footer-text);
    background-color: var(--footer-bg);
    border-top-right-radius: 5rem;
}

.footer-logo {
    color: #FFF;
}

.footer-col h5 {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    color: #FFF;
}

.footer-col li {
    font-size: 1rem;
    margin-bottom: .5rem;
    font-weight: 600;
}

.footer-col li:hover {
    text-decoration: underline;
}

@media (max-width: 1024px) {
    section {
        padding: 4rem 2rem;
    }

    header {
        padding: 5vh 5vw;
    }

    .logo h1 {
        font-size: 2.5rem;
    }

    .nav-links {
        gap: 0 .75rem;
        margin-left: 3vw;
    }
    
    .nav-links li a {
        text-decoration: none;
        padding-right: .5rem;
        color: inherit;
    }


    .second-sec {
        /* min-height: 100vh; */
        padding-bottom: 10rem;
        background-image: none;
        background-repeat: no-repeat;
        background-position: center 20vh;
    }
    
    .second-sec h3{
        width: 100%;
        line-height: normal;
    }

    .second-sec .content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center;
        min-height: auto;
    }

    .second-sec .content img {
        display: block;
        margin: 2rem 0;
        width: 90vw;
    }

    .second-sec .content .text {
        width: 100%;
        height: 50%;
        padding-top: 0;
    }


    .third-sec {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: auto;
        background-repeat: no-repeat, no-repeat;
        background-position: center 350%, center;
    }

    .third-sec img {
        position: relative;
        top: -15rem;
        left: 0;
        max-width: 550px;
        width: 80vw;
    }

    .third-sec h3 {
        font-size: 2.5rem;
        color: var(--text);
        opacity: .9;
        margin-bottom: 1rem;
    }
    
    .third-sec .text {
        position: relative;
        top: -10rem;
        left: 0;
        width: 100%;
        font-size: 1.25rem;
        text-align: center;
    }

    .fourth-sec {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        min-height: 100vh;
        background-image: none;
    }

    .fourth-sec img {
        display: block;
        margin-bottom: 2rem;
        width: 90vw;
    }
    
    .fourth-sec .text {
        text-align: center;
        width: 100%;
        margin: 0;
    }
    
    .fourth-sec .text h4 {
        font-size: 1.75rem;
        font-weight: 600;
        color: var(--heading);
        margin-bottom: 1rem;
    }
    
    .fourth-sec .text p {
        font-size: 1.25rem;
        color: var(--body-copy);
        margin-bottom: 2rem;
    }
}

@media (max-width: 767px) {

    .menu-btn {
        margin-left: auto;
        cursor: pointer;
        -webkit-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
    }

    /* Styling the hamburger lines */
    .menu-btn .btn-line {
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: #FFF;
        -webkit-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
    }

    /* Adding transform to the X */
    .menu-btn.close {
        -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
                transform: rotate(180deg);
    }

    /* Styling the three lines
        to make it an X */
    .menu-btn.close .btn-line:nth-child(1) {
        -webkit-transform: rotate(45deg) translate(5px, 5px);
            -ms-transform: rotate(45deg) translate(5px, 5px);
                transform: rotate(45deg) translate(5px, 5px);
    }

    .menu-btn.close .btn-line:nth-child(2) {
        opacity: 0;
    }

    .menu-btn.close .btn-line:nth-child(3) {
        -webkit-transform: rotate(-45deg) translate(7px, -6px);
            -ms-transform: rotate(-45deg) translate(7px, -6px);
                transform: rotate(-45deg) translate(7px, -6px);
    }

    .nav-content {
        display: none;
        position: absolute;
        top: 150%;
        left: 0%;
        margin: 0 auto;
        padding: 2rem 2rem;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 100%;
        background-color: #FFF;
        color: var(--heading);
        border-radius: .5rem;
    }

    .nav-links {
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 1.25rem 0;
        /* margin: 0 auto; */
        margin-bottom: 1rem;
        font-size: 1.1rem;
        text-align: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    
    .nav-link {
        width: 100%;
        text-decoration: none;
        
    }
    
    .nav-links > li:hover {
        text-decoration: none;
    }

    .nav-links li a {
        padding-right: 0;
    }

    .mobile-arrow {
        display: inline-block;
    }

    .desktop-arrow {
        display: none;
    }

    .nav-links li:hover .cat-menu{
        display: none;
    }

    .nav-links li:hover img {
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
    }

    .cat-menu {
        position: relative;
        left: 0;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100%;
        background-color: rgba(0, 0, 0, .05);
        text-decoration: none;
    }

    .cat-menu li {
        font-size: 1rem;
        font-weight: 600;
    }

    .nav-content hr {
        display: block;
    }

    .nav-btns {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        margin: 0 auto;
        padding: 1rem 0;
    }

    .nav-btns .primary-btn {
        background-image: -webkit-gradient(linear, left top, right bottom, from(var(--very-light-red)), to(var(--light-red)));
        background-image: -o-linear-gradient(top left, var(--very-light-red), var(--light-red));
        background-image: linear-gradient(to bottom right, var(--very-light-red), var(--light-red));
        color: var(--text);
    }

    .nav-btns .normal-btn {
        color: var(--heading);
    }

    .hero-wrapper {
        width: 100%;
        height: 75vh;
        max-height: 500px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        background-image: url(./images/bg-pattern-intro-mobile.svg);
        background-position: center;
    }

    .hero h2 {
        font-size: 2.75rem;
    }

    .hero p {
        line-height: normal;
    }

    footer {
        place-content: center;
        -ms-grid-columns: auto;
        grid-template-columns: auto;
        gap: 2rem;
        text-align: center;
    }
}